<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | The Curator's Vault</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Inter:wght@300;400&display=swap" rel="stylesheet">
</head>
<body class="auth-bg">
    <div class="auth-card">
        <div class="auth-header">
            <div class="logo">VAULT</div>
            <h2>Create your Account</h2>
            <p>Be given access to world-famous art collections!</p>
        </div>
                <form class="auth-form" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="curator123" required>
            </div>
           <div style="display: flex; gap: 15px;">
                <div class="input-group" style="flex: 1;">
                    <label>First Name</label>
                    <input type="text" name="fname" placeholder="Claude" required>
                </div>
                <div class="input-group" style="flex: 1;">
                    <label>Last Name</label>
                    <input type="text" name="lname" placeholder="Monet" required>
                </div>
            </div>
            <div class="input-group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="curator@art.com" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn-primary">Create Patron Account</button>
        </form>
        <p class="auth-footer">Already signed up? <a href="{% url 'login' %}">Login to your Vault Account</a></p>
    </div>
</body>
</html>